
Exo1/Exo/.idea/

Exo1/Exo/.vs/

Exo1/Exo/Binaries/

Exo1/Exo/Intermediate/

Exo1/Exo/Saved/

Exo1/Exo/.vsconfig

Exo1/Exo/TrainingCPP.sln

Exo2/Exo/.idea/

Exo2/Exo/Binaries/

Exo2/Exo/.vs/

Exo2/Exo/Intermediate/

Exo2/Exo/Saved/

Exo2/Exo/.vsconfig

Exo2/Exo/TrainingCPP.sln

Exo2/Correction/.idea/

Exo2/Correction/Binaries/

Exo2/Correction/.vs/

Exo2/Correction/Intermediate/

Exo2/Correction/Saved/

Exo2/Correction/.vsconfig

Exo2/Correction/TrainingCPP.sln